//- Перменные 
block vars
  - var siteTitle = 'To Do List App';
  - var lang = 'en';
  - var active = '0';

doctype html
//- Просто вставляем переменную
html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="../css/style.min.css")
    //- Иконка сайта
    link(rel="shortcut icon" href="../img/icons/favicon.ico" type="image/jpg")
    title #{siteTitle}
  body 
    script(src="../js/main.js")
    //- block ключевое слово помогающее совместить две части кода в разных файлах
    block content 