//Бургер меню заготовка
.icon-menu {
  display: none;
  @media (max-width: $md3+px) {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;

    z-index: 5;
    span {
      transition: all 0.3 ease 0s;
      top: calc(50% - 1px);
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &._active {
      span {
        transition: transform 0.2s ease 0.2s;
        transform: scale(0);
        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
}
//Адаптивное изображение
.ibg {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
