.task-list
    .container
        .row
            section.task_active
                .task__container
                    label.check
                        input(type="checkbox").check__input
                        span.check__box
                        .check__text.text Build a modern To do app
                        button.check__remove
                            img(src="./img/icons/remove.svg", alt="remove")
            section.task
                .task__container
                    label.check
                        input(type="checkbox").check__input
                        span.check__box
                        .check__text.text Buy groceries (milk, vegetables, fruits, fish)
                        button.check__remove
                            img(src="./img/icons/remove.svg", alt="remove")
            section.task
                .task__container
                    label.check
                        input(type="checkbox").check__input
                        span.check__box
                        .check__text.text Clean the house and backyard
                        button.check__remove
                            img(src="./img/icons/remove.svg", alt="remove")
            section.task
                .task__container
                    label.check
                        input(type="checkbox").check__input
                        span.check__box
                        .check__text.text Workout for 30 minutes at the gym
                        button.check__remove
                            img(src="./img/icons/remove.svg", alt="remove")
            section.task
                .task__container
                    label.check
                        input(type="checkbox").check__input
                        span.check__box
                        .check__text.text Buy groceries (milk, vegetables, fruits, fish)
                        button.check__remove
                            img(src="./img/icons/remove.svg", alt="remove")
